.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

/* fix tab won't trigger focus on buttons inside modal */
.ReactModalPortal {
  width: 1px;
  height: 1px;
}
