@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-profile {
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  }
}

/* For WebKit browsers */
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 7px;
}

/* Customize the scrollbar thumb (scrolling handle) */
::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 2px;
}

/* Customize the scrollbar track when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #f5f5f5;
  --secondary-color: #fff;
  --chatBox-color: #f7f7f7;
  --hoverMain-color: #e2e8f0;
  --btnHover-color: hsl(233, 100%, 93%);
  --darkGray-color: #343233;
  --blackOverlay-color: rgba(0, 0, 0, 0.7);
  --feed-color: #383838;
  --online-color: #74be05;
  --danger-color: #ff0000;
  --success-color: #058800;
  --warning-color: #f7b017;
  --icon-color: #9500f8;
  --genderMale-color: #003af8;
  --genderFemale-color: #f800cf;
  --fb-color: #1754c4;
  --twitter-color: #1fb7dd;
  --insta-color: #dd6b1f;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Remove the spin arrows for number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* Focusing the button with a keyboard */
button:focus-visible {
  outline: 0.5px solid #000;
}

/* Focusing the button with a mouse, touch, or stylus */
button:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* modal overriding */
.ReactModalPortal {
  z-index: 100;
}
